body{
	/*width: 990px;*/
	padding: 50px;
	margin: 0 auto;
	font-family: helvitica neue; sans sefif;
}
article {
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
}
/*
Header
*/
header img#logo{
	display: block;
	margin: auto;
	margin-top: 30px;
}

header h1{
	text-align: center;
	font-size: 210%;
}

nav {
	border-bottom: 6px solid #45A0C4;
	margin-bottom: 30px;
	margin-top: 10px;
}


nav ul {
	text-align: center;
	margin-bottom: 20px;
}

nav li {
	
	display: inline;
	width: 5px;
	background-color: #C4E7F5;

}

nav li a {
	color: #3C9AC1;
	text-decoration: none;
}
/*padding will enlarge click area*/

/*
below fails to position nav bar in center of page
???
*/
/*fixed issue with text-align in nav ul*/

#content .articleheader {
	background-color: #5193AD;
	padding: 30px;
}

#content h2 {
	font-size: 200%;
	color: #C1E2F1;
}

#content .articlebody {
	background-color: #C4E7F5;
	padding-top: 30px;
	padding-right: 30px;
}

/*also for text in foose ball block*/

.articlebody p {
	padding-bottom: 20px;
	padding-top: 0px;
	margin-left: 30px;
	margin-top: 0px; 
}
/*
why is there such a large gap between
paragraphs?
*/
/*
solved using inspect element - padding
*/

#content img {
	float: right;
	width: 220px;
	height: 95px;
	padding-left: 15px;
	padding-bottom: 20px;
}
/*
Fooseball Block
*/

.articleheader {
	background-color: #EEEEEE;
	padding: 30px;

}

.articleheader h2 {
	font-size: 200%;
	color: #868686;
}


.articleheader h3 {
	color: #8A8A8A;
	font-size: 150%;
}


table {
	margin-left: 30px;
	width: 90%;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 35px;
	
}

#foose-table th {
	background-color: #EEEEEE;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

/*
Need to have header of table align with
data in table ????
*/

th {
	text-align: left;
	color: #8A8A8A;
}

td {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*
To-Do List 
*/

ul, ol {
	list-style-position: inside;
}


ul {
	margin-left: 23px;
}


ol {
	margin-left: 35px;
}

/* > between .articlebody and li to have affect only the nearest child and nothing else
*/
.articlebody li {
	list-style-type: circle;
	/*this doesnt work, no bullets shown ????*/
	/*fixed issue with position:inside above*/
	padding: 10px;
}

.articlebody ol li {
	list-style-type: decimal;
}

/* also li li */
.articlebody ul li ul li {
	list-style-type: disc; 
}



/*
Contact Me 
*/

/*
Padding around all elements to wide, need to find out
how to lessen w/o losing alignment on left margin
*/

#email_input {
	border: 1px solid #BBBBBB;
	
	width: 925px;
	display: block;
	height: 40px;

}


#message_area {
	border-width: 1px;
	border-color: #D1D1D1;
	width: 925px;
	display: block;
}


/*
Need to find out how to separate "Your Email" block from the 
input box so that can have box drawn under it instead
of to the right ????
*/

#contact-form {
	padding-left: 15px;
}

.form-row p {
	display: block;
	margin-left: 0px;
}

.form-left {
	display: inline;
	float: left;
	width: 50%;
}

.form-right {
	float: right;
	width: 50%;
}

.form-row, #first_time_visitor {
	padding: 15px;
	
}

select {
	display: block;
	width: 92px;
}

button {
	margin-bottom: 50px;
}


/*to eliminate margin in html */

input[type=radio] {
	margin-left: 0px;
}

input[type=checkbox] {
	margin-left: 0px;
}


footer {
	text-align: center;
	border-top: 6px solid #45A0C4;
	margin-top: 30px;
	padding-top: 20px;
}
